<%= form_for (@user) do |f| %>
	<% if @user.errors.any? %>
		<div>
			<h2>
				<%= pluralize(@user.errors.count,"error") %> Errors:
			</h2>
			<ul>
				<% @user.error.full_messages.each do |er| %>
					<li><%= er %></li>
				<% end %>
			</ul>
		</div>
	<%end %>
	<p>
		<%= f.label :rut %>
		<%= f.text_field :rut %>
	</p>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :lastName %>
		<%= f.text_field :lastName %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</p>
	<p>
		<%= f.label :birthDate %>
		<%= f.date_field :birthDate %>
	</p>
	<p>
		<%= f.label :password %>
		<%= f.text_field :password %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>
<%= link_to 'Back', users_path %>
