	<p>
		<strong>rut</strong>
		<%=  @user.rut %>
	</p>
	<p>
		<strong>name</strong>
		<%=  @user.name %>
	</p>
	<p>
		<strong>lastName</strong>
		<%=  @user.lastName %>
	</p>
	<p>
		<strong>email</strong>
		<%= @user.email %>
	</p>
	<p>
		<strong>birthDate</strong>
		<%= @user.birthDate %>
	</p>
	<p>
		<strong>password</strong>
		<%=  @user.password %>
	</p>
	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', users_path %>